.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white; /*#42c5f4; mediumspringgreen;/*chartreuse; /*#222;*/
  height: 120px;
  padding: 20px;
  color: #42c5f4;
}

.App-title {
  font-size: 3.0em;
}

.App-intro {
  font-size: large;
}

body {
   background-color: #42c5f4; /*white;*/
   color: white;
   font-size: medium;
   font-family: 'Georgia', serif;
 }

 .footer {
     height: 50px;
     margin-top: -50px;
     background-color: orange;
     color: black;
     text-align: center;
 }

 .App-footer {
   background-color: orange;
   height: 80px;
   margin-top: 400px;
   padding: 20px;
   color: black;
 }
 
 .no-float {
   float: none;
 }
